@import '../../styles/const.scss';

$outline-shadow: 0 0 0 3px rgba($light, 0.4);

@mixin withInteractiveEffect($background, $color) {
    background: $background;
    border-color: $background;
    color: $color;
    &:hover {
        background: darken($background, 8%);
        border-color: darken($background, 8%);
        color: $color;
    }
    &:focus {
        background: darken($background, 8%);
        border-color: darken($background, 8%);
        color: $color;
        box-shadow: $outline-shadow;
    }
}

.Button {
    all: unset;
    cursor: pointer;
    padding: 5px 15px;
    background-color: $white;
    font-size: 13.5px;
    border-radius: $bd-radius;
    border: 1.2px solid $light;
    color: $gray;
    font-weight: 400;
    transition: border-color $transition, background-color $transition, transform 0.08s,
        color $transition;
    letter-spacing: 0.45px;
    text-align: center;

    &:hover {
        border-color: $primary;
        color: $primary;
    }
    &:focus {
        border-color: $primary;
        color: $primary;
        box-shadow: $outline-shadow;
    }

    &_theme {
        &_primary {
            @include withInteractiveEffect($primary, $white);
        }
        &_danger {
            @include withInteractiveEffect($danger, $white);
        }
        &_link {
            border: none;
            color: $link;
            &:hover {
                color: lighten($link, 8%);
            }
            &:focus {
                box-shadow: unset;
            }
        }
    }

    &_clicked:not(&_fullWidth):not(&_type_link) {
        transform: scale(0.98, 0.99);
    }

    &_fullWidth {
        width: 100%;
    }
}

.ButtonGroup {
    display: flex;
    & > .Button {
        border-radius: unset;

        &:first-child {
            border-radius: $bd-radius 0 0 $bd-radius;
        }
        &:last-child {
            border-radius: 0 $bd-radius $bd-radius 0;
        }

        &:not(:first-child) {
            margin-left: -1px;
        }

        &:hover,
        &:focus {
            z-index: 2;
        }
    }
}
