@import '../../styles/const.scss';

.Table {
    width: 100%;

    &__head {
        background-color: lighten($light, 10%);
    }

    &__item {
        padding: 10px;
        border-bottom: 1px solid lighten($light, 10%);
        &_title {
            font-weight: 500;
            text-align: left;
            &:first-child {
                border-top-left-radius: 7px;
            }
            &:last-child {
                border-top-right-radius: 7px;
            }
        }
    }
}
